.post-card{
  max-width: 650px;
  border-radius: 12px;
  background-color:var(--background-post) ;


}
.article{
  background-color:var(--background-post) ;
  display: flex;
  justify-content: space-between;
  padding: 13px;
  color: var(--font-color);
  border-radius: 12px 12px 0 0;

}
.user-info-post{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--font-color);

}
.content{
padding-left: 70px;
font-size: 15px;
font-family: Inter;
font-weight: 700;
line-height: 21.78px
;
}
.user-info-post img{
width: 60px;
height: 60px;
border-radius: 50%;
object-fit: cover;
}
.img-post{
  border-radius: 12px;
  max-width:284px ;
  max-height: 150px;
}
.comments-likes-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 50px;
  gap: 15px;
}
.comments-likes-btn div{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.comments-likes-btn i,svg{
 font-size: 15px !important;
}
.BtnsPost{
  background:var(--sacredly-color);
  border-radius:0 0 12px 12px;
  position: relative;

}
.BtnsPost::after{
  position: absolute;
  content: '';
  width: 2px;
  height: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  background-color: var( --not-active-color);
}
.BtnsPost button{
  width: 50%;
}

.BtnsPost button svg,.BtnsPost button i{
  font-size: 15px;
  color: var( --not-active-color);

}
.likesNum{
  position: relative;
}
.whoLike{
  position: absolute;
  display: block !important;
  content: '';
  background-color: var(--not-active-color);
  top: 20px;
  border-radius: 10px;
  z-index: 5;
  border: 1px solid var(--font-color);
  z-index: -5;
  opacity: 0;
  height: 0;
}
.likeItem {
  display: flex;
  padding: 10px;
  gap: 5px;
  text-decoration: none;
  color: var(--font-color);
  border-radius: 10px;

}
.likeItem:hover{
  background-color: var(--font-color);
  color: var(--not-active-color);
}
.likeItem img{
  width: 20px;
}
.likeItem h4{
font-size: 12px;
}
.likesNum:hover .whoLike{
  height: auto;
  z-index: 5;
  opacity: 1;
}
.user-info-comment{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--font-color);
  padding: 10px ;

}
.content-comment{
padding-left: 50px;
font-size: 15px;
font-family: Inter;
font-weight: 700;
line-height: 21.78px
;
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;
}
.comment-container img{
width: 80px;
height: 80px;
object-fit: cover;
border-radius: 12px;


}
.user-info-comment img{
width: 30px;
height: 30px;
border-radius: 50%;
object-fit: cover;
}

.comments{
  border-radius: 0 0 10px 10px;
}
.comment-container{
  background-color: var(--background-post);
  position: relative;
  bottom: 4px;
  border-bottom: 1px solid #a3cfcf;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 0;
}
.img-post-mobile{
  display: none;
}
@media screen and (max-width: 600px) {
  .img-post-desctop{
    display: none;
  }
  .img-post-mobile{
    display: flex;
    justify-content: center;
    width: 100%;

  }
  .img-post-mobile img{
    width: 100%;
    margin-top: 10px;
  }
  .content{
    padding: 0 ;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
  }
}