.post-card{
  position: relative;
  width: 500px;
  border-radius: 12px;
  background-color:var(--background-post) ;
  margin: 0 20px;
  z-index: -1;
}
.post-content-continuer{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 60%;
}
.article{
  background-color:var(--background-post) ;
  display: flex;
  justify-content: space-between;
  padding:30px 13px;
  color: var(--font-color);
  border-radius: 12px 12px 0 0;

}
.user-info-post{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--font-color);
  padding: 0 0 0 10px;

}
.content{
padding-left: 60px;
font-size: 15px;
font-family: Inter;
font-weight: 700;
line-height: 21.78px
;
}
.user-info-post img{
border-radius: 50%;
object-fit: cover;
}
.img-post{
  border-radius: 12px;
  max-width:284px ;
  max-height: 150px;
  width: 100%;
}
.img-post-desctop{
  width: 30%;
}
.comments-likes-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 50px;
  gap: 15px;
}
.comments-likes-btn div{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.comments-likes-btn i, .comments-likes-btn svg{
  margin-top: 10px;
 font-size: 20px !important;
 color: var(--font-color);
 cursor: pointer;
}
.BtnsPost{
  background:var(--sacredly-color);
  position: relative;

}
.BtnsPost::after{
  position: absolute;
  content: '';
  width: 2px;
  height: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  background-color: var( --not-active-color);
}
.BtnsPost button{
  width: 50%;
}

.BtnsPost button svg,.BtnsPost button i{
  font-size: 15px;
  color: var( --not-active-color);

}
.likesNum{
  position: relative;
}
.whoLike{
  position: absolute;
  display: block !important;
  content: '';
  background-color: var(--not-active-color);
  top: 40px;
  border-radius: 10px;
  z-index: 5;
  border: 1px solid var(--font-color);
  z-index: -5;
  opacity: 0;
  height: 0;
}
.likeItem {
  display: flex;
  padding: 5px;
  gap: 5px;
  text-decoration: none;
  color: var(--font-color);
  border-radius: 10px;

}
.likeItem:hover{
  background-color: var(--font-color);
  color: var(--not-active-color);
}
.likeItem img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.likeItem h4{
font-size: 12px;
}
.likesNum:hover .whoLike{
  height: auto;
  z-index: 5;
  opacity: 1;
  top: 25px;

}
.user-info-comment{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--font-color);
  padding: 10px 10px 10px 20px;

}
.content-comment{
padding-left: 50px;
font-size: 15px;
font-family: Inter;
font-weight: 700;
line-height: 21.78px
;
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;
}
.comment-container img{
width: 60px;
height: 60px;
object-fit: cover;
border-radius: 12px;


}
.comment{
  padding: 5px 0 0 15px;
  width: 70%;
}
.user-info-comment img{
width: 30px;
height: 30px;
border-radius: 50%;
object-fit: cover;
}

.comments{
  border-radius: 0 0 10px 10px;
  padding-bottom: 12px;
}
.comment-container{
  background-color: var(--background-post);
  position: relative;
  border-bottom: 1px solid #a3cfcf;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 5px 0;
}
.img-post-mobile{
  display: none;
}
.Edit-and-deleteBtn{
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  width: 30px;
}
.abusluot-btns:hover .Edit-and-deleteBtn{
  display: block;
}
@media screen and (max-width: 650px) {
  .img-post-desctop{
    display: none;
  }
  .img-post-mobile{
    display: flex;
    justify-content: center;
    width: 100%;

  }
  .img-post-mobile img{
    width: 100%;
    margin-top: 10px;
  }
  .content{
    padding: 0 ;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
  }
  .article{
    padding: 13px 0;
  }
  .post-card{
    width: 100%;
  }
  .post-loading-info{
    flex-direction: column-reverse;
  }
  .loading-img{
    width: 100% !important;
    height: 120px !important;
  }
  .loading-post{
    width: 100%;
    margin-bottom: 20px;
  }
  .edit-comment button,.edit-comment input{
    width: 100% !important;
  }

}
.btns-list{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 35px;
  top: 3px;
  background-color: var(--background-post) !important;
  padding: 10px;
  border-radius: 10px;

}
.btns-list button{
  margin: 0 !important;
  padding: 0;
  display: flex;
  padding: 5px;
  width: 100%;
  border-radius: 10px;

  
}
.MuiButtonBase-root{
  padding: 2px !important;
}
.btns-list span{
  font-size: 11px !important;
  line-height: 0;
  
}
.Edit-and-deleteBtn .btns-container{
  position: absolute;
  top: 10px;
  border-radius: 10px;
}
.addCommentInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a3cfcf;
}
.addCommentInput input{
  width: 80%;
  padding: 5px;
  border: none;
  outline: none;
}
.addCommentInput button{
width: 10%;
border-radius: 0 !important;
display: flex;
justify-content: center;
}
.addCommentInput svg{
  font-size: 25px !important;
  color: var(--sacredly-color);
}
.addCommentInput label{
cursor: pointer;
}
#upload-img-comment{
  display: none;
}
.dots-icon{
  width: 15px !important;
  position: relative;
  right: 5px;
  top: 5px;
}
.btns-container svg{
  font-size: 15px;
}
.show-more{
  display: flex;
  justify-content: flex-end;
  ;
  font-size: 10px;
  align-items: center;
  color: var(--font-color);
  padding: 5px ;
  cursor: pointer;
}
.show-more svg{
  font-size: 10px;
  margin-top:5px;

}
.add-comment-btn{
  padding: 5px;
  color: var(--not-active-color);
  background-color: var(--font-color);
  border: 1px solid var(--font-color);
  width: 120px !important;
}
.dots-btn{
  border: none;
  width: 5px;
  height: 0;
}
.posts{
  width: 77%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.loading-user-info{
  display: flex;
  gap: 20px;
  align-items: center;
  width: 40%;
  padding: 10px;
}
.loading-post{
  min-width: 350px;
  background-color: var(--background-post);
  min-height: 200px;
  border-radius: 12px;
  
}
.post-loading-info{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.loading-content{
  width: 100%;
}
.loading-posts{
  margin-top: 50px;
  width: 77%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.no-result{
  text-align: center;
  margin-top: 60px;
  width: 100%;
}
.content-comment p{
  font-size: 12px !important;
  font-weight: 200;
}
.comment-img{
  margin-right: 20px;
}
.postion-progress-add-img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
}
.MuiCircularProgress-root {
  width: 25px !important;
  height: 25px !important;
  margin: 2px 5px;
}
.edit-img-comment-icons div{
  width: 100%;
  height: 132%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: -9px;
  right: -7px;
}
.edit-img-comment-icons svg{
width: 15px;
color: var(--font-color);
}
.edit-img-comment-icons{
  position: relative;
}
.edit-comment{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.edit-comment input{
width: 80%;
outline: none;
border: none;background-color: #bdd9d9;
padding: 5px;
border-radius: 8px ;
}
.edit-comment button{
  border: none;
  background: var(--sacredly-color);
  color: var(--not-active-color);
  padding: 5px;
  border-radius: 8px;
}
.progress-edit{
  position: absolute;
  top: 13px !important;
  left: 37%;
  transform: translateX(-50%);
  width: 35px;
height: 35px;
}
.progress-edit span,.progress-edit svg{
  

width: 35px !important;
height: 30px !important;
}

.mangment-img-comment-btn svg{
  background-color: rgba(255, 0, 0, 0.199);
  border-radius: 50%;
  padding: 0 1px;
}