.post-card{
  position: relative;
  max-width: 650px;
  border-radius: 12px;
  background-color:var(--background-post) ;


}
.article{
  background-color:var(--background-post) ;
  display: flex;
  justify-content: space-between;
  padding: 13px;
  color: var(--font-color);
  border-radius: 12px 12px 0 0;

}
.user-info-post{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--font-color);
  padding: 0 0 0 10px;

}
.content{
padding-left: 60px;
font-size: 15px;
font-family: Inter;
font-weight: 700;
line-height: 21.78px
;
}
.user-info-post img{
border-radius: 50%;
object-fit: cover;
}
.img-post{
  border-radius: 12px;
  max-width:284px ;
  max-height: 150px;
}
.comments-likes-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 50px;
  gap: 15px;
}
.comments-likes-btn div{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.comments-likes-btn i, .comments-likes-btn svg{
  margin-top: 10px;
 font-size: 20px !important;
 color: var(--font-color);
 cursor: pointer;
}
.BtnsPost{
  background:var(--sacredly-color);
  position: relative;

}
.BtnsPost::after{
  position: absolute;
  content: '';
  width: 2px;
  height: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  background-color: var( --not-active-color);
}
.BtnsPost button{
  width: 50%;
}

.BtnsPost button svg,.BtnsPost button i{
  font-size: 15px;
  color: var( --not-active-color);

}
.likesNum{
  position: relative;
}
.whoLike{
  position: absolute;
  display: block !important;
  content: '';
  background-color: var(--not-active-color);
  top: 20px;
  border-radius: 10px;
  z-index: 5;
  border: 1px solid var(--font-color);
  z-index: -5;
  opacity: 0;
  height: 0;
}
.likeItem {
  display: flex;
  padding: 5px;
  gap: 5px;
  text-decoration: none;
  color: var(--font-color);
  border-radius: 10px;

}
.likeItem:hover{
  background-color: var(--font-color);
  color: var(--not-active-color);
}
.likeItem img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.likeItem h4{
font-size: 12px;
}
.likesNum:hover .whoLike{
  height: auto;
  z-index: 5;
  opacity: 1;
}
.user-info-comment{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--font-color);
  padding: 10px 10px 10px 20px;

}
.content-comment{
padding-left: 50px;
font-size: 15px;
font-family: Inter;
font-weight: 700;
line-height: 21.78px
;
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;
}
.comment-container img{
width: 80px;
height: 80px;
object-fit: cover;
border-radius: 12px;


}
.comment{
  padding: 5px 0 0 15px;
}
.user-info-comment img{
width: 30px;
height: 30px;
border-radius: 50%;
object-fit: cover;
}

.comments{
  border-radius: 0 0 10px 10px;
}
.comment-container{
  background-color: var(--background-post);
  position: relative;
  border-bottom: 1px solid #a3cfcf;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 0;
}
.img-post-mobile{
  display: none;
}
.Edit-and-deleteBtn{
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  width: 30px;
}
.abusluot-btns:hover .Edit-and-deleteBtn{
  display: block;
}
@media screen and (max-width: 600px) {
  .img-post-desctop{
    display: none;
  }
  .img-post-mobile{
    display: flex;
    justify-content: center;
    width: 100%;

  }
  .img-post-mobile img{
    width: 100%;
    margin-top: 10px;
  }
  .content{
    padding: 0 ;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
  }
  .article{
    padding: 13px 0;
  }
}
.btns-list{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 35px;
  top: 3px;
  background-color: var(--background-post) !important;
  padding: 10px;
  border-radius: 10px;

}
.btns-list button{
  margin: 0 !important;
  padding: 0;
  display: flex;
  padding: 5px;
  width: 100%;
  border-radius: 10px;

  
}
.MuiButtonBase-root{
  padding: 2px !important;
}
.btns-list span{
  font-size: 11px !important;
  line-height: 0;
  
}
.Edit-and-deleteBtn .btns-container{
  position: absolute;
  top: 10px;
  border-radius: 10px;
}
.addCommentInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a3cfcf;
}
.addCommentInput input{
  width: 95%;
  padding: 5px;
  border: none;
  outline: none;
}
.addCommentInput button{
width: 10%;
border-radius: 0 !important;
display: flex;
justify-content: center;
}
.addCommentInput svg{
  font-size: 25px !important;
  color: var(--sacredly-color);
}
.addCommentInput label{
cursor: pointer;
}
#upload-img-comment{
  display: none;
}
.dots-icon{
  width: 15px !important;
  position: relative;
  right: 5px;
  top: -3px;
}
.btns-container svg{
  font-size: 15px;
}
.show-more{
  display: flex;
  justify-content: flex-end;
  ;
  font-size: 10px;
  align-items: center;
  color: var(--font-color);
  padding: 5px ;
  cursor: pointer;
}
.show-more svg{
  font-size: 10px;
  margin-top:5px;

}
.add-comment-btn{
  padding: 5px;
  color: var(--not-active-color);
  background-color: var(--font-color);
  border: 1px solid var(--font-color);
  width: 120px !important;
}